#log_details{
    background-color: #ddd;

    .pages {
        background-color: #ded;
    }

    .entries {
        background-color: #dee;
    }

    .log_comment {
        background-color: #eee;
    }
}